@page
@model FarAwayClient.Pages.AboutCompanyModel
@{
    ViewData["Title"] = "О компании";
}
<div class="container px-4 pt-5">
    <h2 class="pb-2 border-bottom">Достоинства автоматизированного паркинга</h2>
    <div class="row g-4 pt-5 pb-1 row-cols-1 row-cols-lg-3">
        
    </div>
</div>