@page
@model FarAwayClient.Pages.ContactsModel
@{
    ViewData["Title"] = "Контакты";
}
@section Styles {
    <style>
        html,
        body {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    </style>
}
<div class="container px-4 pt-0 m-auto" id="featured-3">
    <h2 class="pb-2 mb-2 border-bottom">Контактные данные</h2>
    <div class="row g-4 my-2">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A57c43526c5565aa0e409608a3c16db600156aee40b822d369d3878a7ad09a9aa&amp;source=constructor" width="1140" height="720" frameborder="0"></iframe>
    </div>
    <div class="row">
        <p>Контактный телефон:<a href="tel:+74955315252">+7 (495) 531-52-52</a></p>
    </div>
</div>
