@page
@model FarAwayClient.Pages.SignInModel
@{
    ViewData["Title"] = "Вход";
}
@section Styles {
    <style>
        html,
        body {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .form-signin {
            max-width: 400px;
            padding: 1rem;
        }

            .form-signin .form-floating:focus-within {
                z-index: 2;
            }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

    </style>
}
<div class="form-signin m-auto w-100">
    <form method="post" asp-antiforgery="true">
        <div class="d-flex flex-column align-items-center">
            <img class="mb-2" src="~/assets/LogoNoText.png" alt="" height="40">
            <h1 class="h3 mb-3 fw-normal">Авторизация</h1>
        </div>

        <div class="mb-1">
            <label asp-for="Input.Login">Логин<span class="text-danger">*</span></label>
            <div class="input-group">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
                </span>
                <input type="text" asp-for="Input.Login" class="form-control" placeholder="Введите логин...">
            </div>
            <span asp-validation-for="Input.Login"></span>
        </div>

        <div class="my-1">
            <label asp-for="Input.Password">Пароль<span class="text-danger">*</span></label>
            <div class="input-group">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                        <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5" />
                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                    </svg>
                </span>
                <input type="password" asp-for="Input.Password" class="form-control mb-0" placeholder="Введите пароль...">
            </div>
            <span asp-validation-for="Input.Password"></span>
        </div>

        <div class="validation" asp-validation-summary="ModelOnly"></div>

        <button class="btn btn-primary w-100 py-2 mt-2" type="submit">Войти</button>
        <p class="mt-2 mb-3 text-body-secondary">&copy; 2022–2024</p>
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}