@model string?
@if(Model != null) {
    <div class="dropdown text-end mt-1 ms-2">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
           data-bs-toggle="dropdown" aria-expanded="false">
            <img src="@Model" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" asp-page="/Account/RentalsView">Мои аренды</a></li>
            <li><a class="dropdown-item" asp-page="/Account/RentalCreate">Арендовать место</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" asp-page="/SignOut">Выйти</a></li>
        </ul>
    </div>
}
else {
    <li class="nav-item"><a asp-page="/SignIn" class="nav-link @Html.IsActive("/SignIn")">Войти</a></li>
}
