@page
@model FarAwayClient.Pages.Account.RentalsViewModel
@{
    ViewData["Title"] = "Аренды п/м";
}
@section Styles {
    <link rel="stylesheet" href="~/css/fullheightstyle.css" asp-append-version="true" />
}
<div class="content-wrapper content-start">
    <div class="container form-paddings">
        <h2 class="tittle">Арендованные парковочные места</h2>
    </div>
</div>